 .Nav_Ant{
  font-size: 40px;
  color: #e2e2e2;
  font-family: 'Qwigley', cursive;
  margin-top: 5px;
  margin-left: 50px;
  }
  a.Nav_Ant:hover{color:#e2e2e2;}
  a.Nav_Ant:link{color:#e2e2e2;}
  a.Nav_Ant:active{color:white;}
  a.Nav_Ant:visited{color:#e2e2e2;}

  .nav_top_margin{
    margin-top: 18px;
  }
  .nav_pad{
    margin-top: 75px;
    z-index: 0;
    position: absolute;
  }

.nav_top_margin1{
  margin-top: 10px;
  }

.aboutpic{
  max-height: 230px;
  max-width: 230px;
}
.port_pic{
  max-height: 300px;
}
body{
  background-color: white;
}
.profilebg{
    background-color: #8894e2;
    min-height: 325px;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}
.portfoliobg{
    background-color: white;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}

.PortfolioSize{
    padding-top: 10px;
    height: 300px;
}
.icon_size{
  margin-top: -8px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
}
.icon_sizeNP{
  margin-top: 18px;
  margin-left: 15px;
  margin-right: 15px;
  height: 30px;
  width: 30px;
}
.Contactbg{
  background-color: #000000;
  color: white;
}
.temppopover{
  display: none;
}
.temppopover:target{
  display: block;
  background-color: red;
}

.NavStyle{
  text-decoration:none;
}
.HomePicStyle{
    padding-right: 1px;
    padding-left: 2px;
}
.ThemeSize{
    height: 301px;
    width: 100%;
}
.HomeAppSize{
  width: 297px;
  height: 102px;
  padding-bottom: 5px;
}
.profileSize{
    height: 200px;
    width: 200px;
}
.HomeALR{
    animation: mymoveALR .5s;
    animation-timing-function: ease-in;
}
.HomeALR1{
    animation: mymoveALR 1.5s;
    animation-timing-function: ease-in;
}
.HomeARL{
    animation: mymoveARL .75s;
    animation-timing-function: ease-in;
}
.HomeARL1{
    animation: mymoveARL 1s;
    animation-timing-function: ease-in;
}
.HomeARL2{
    animation: mymoveARL 1.2s;
    animation-timing-function: ease-in;
}
.HomeARL3{
    animation: mymoveARL 1.8s;
    animation-timing-function: ease-in;
}
.HomeABT{
    animation: mymoveABT 1.5s;
    animation-timing-function: ease-in;
}
@keyframes mymoveALR {
    from {left: -380px;}
    to {left: 0px;}
}
@keyframes mymoveARL {
    from {right: -380px;}
    to {right: 0px;}
}
@keyframes mymoveABT {
    from {bottom: -380px;}
    to {bottom: 0px;}
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 110px;
  height: auto;
  min-height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: black;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
  opacity: .5;
  color: white;
}
.HoverTL:hover {
  fill: brown;
  cursor: pointer;
}
.ProjNavPad{
    padding-top: 180px;
}
.ProjNavPadData{
    padding-top: 100px;
}
.projectPicPad{
    margin-bottom: 10px;
}
.NavInvis{
    display: none;
}
.leftHomeNav{
    padding: 8px;
    padding-top: 50px;
    padding-left: 25px;
    background-color: gray;
    height: 100%; 
    width: 25%;
    position: fixed; 
    overflow: auto;
    z-index: 500
    
}
.RightColRes{
    padding: 8px;
    padding-left: 25%;
    display: block;
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid black;
}
.Thr{
    margin-top: -10px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eee;
}
.icon_sizeR{
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.3em;
  height: 30px;
  width: 30px;
}
.icon_sizeRH{
  margin-top: 8px;
}
.ResumeHeader{
    margin-bottom: 8px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid black;
}
.ResumeHeader1{
    font-size: 1.3em;
    margin-left: 30px;
    margin-right: 60px;
    width: 95%;
    display: inline-block;
}
.Rl{
    margin-left: 25px;
    margin-top: -25px;
    border-bottom: 1px solid black;
}

.ResumeHeader1.Rl{
    display: inline-block;
}
.nopadd{
   padding-left: 0 ;
   padding-right: 0 ;
   margin: 0
}
.Resumepadding{
    margin-top: 10px;
    padding-left: 65px;
    list-style-type: none;
}
.listStyle{
    margin-top: -17px;
    display: inline-block;
    vertical-align: text-top;
}
.skill-progress{
    height: 55px;
    width: 8px;
    margin-right: 3px;
    background: #5cb85c;
    border-radius: 3px;
}
.skill-style{
    margin-top: -20px;
}
li div{
    display: inline-block;
    height: 30px;
}
.SkillBoxes{
    display: inline-block;
    background: #7eb0db;
    color: white;
    font-size: 0.9em;
    padding: 5px;
    border: 1px solid #357ebd;
    margin-right: 5px;
    border-radius: 6px;
}
.inlineP{
    display: inline-block;
}
.container-size{
    width: auto;
    height: 100%;
    display: block;
}
.addCheckMark:before{
    content: '✓';
}
.WorkPadding{
    list-style-type: none;
}
.summaryFont{
    margin-top: -8px;
    font-size: 0.9em;
}
.resumeWidth{
    min-width: 870px;
    margin-top: 8px;
}
.EduBoxes{
    background: #5cb85c;
    color: white;
    font-size: 0.9em;
    padding: 5px;
    border: 1px solid greenyellow;
    margin-right: 5px;
    border-radius: 6px;
    margin-top: -18px;
}
.makebr{
    display: block;
    margin-top: -8px;
    margin-bottom: -5px;
}
.childE {
    width: 98.3%;
    display: block;
    height: auto;
    margin-bottom: -12px;
}
.parentE{
    overflow:visible; 
    height: 100%;
}
