 .navbar-custom{
    background-color: black;
    border-bottom-color: white;
}

.Nav_Ant{
  font-size: 31px;
  color: white;
  font-family: 'Courgette', cursive;
  padding-top: 8px !important;
  margin-left: 70px;
  }
  a.Nav_Ant:hover{
      text-decoration: none;
      color:white;}
  a.Nav_Ant:link{color:white;
  text-decoration: none;}
  a.Nav_Ant:active{color:white;
  text-decoration: none;}
  a.Nav_Ant:visited{color:white;
  text-decoration: none;}

.Ant_nav{
    padding-top: 9px;
}

.nav_top_margin{
    margin-top: 10px;
}
.navbar-inverse .navbar-brand {
    color: white;
}

.nav_top_margin1{
    margin-top: 8px;
}


.nav_pad{
    margin-top: 60px;
    z-index: 0;
    position: absolute;
}

.aboutpic{
  max-height: 230px;
  max-width: 230px;
}
.port_pic{
  max-height: 300px;
}
.AboutPad{
    padding-left: 3%;
}

body{
  background-color: #dbe7f9;
}
.profilebg{
    background-color: #8894e2;
    min-height: 325px;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}
.portfoliobg{
    background-color: white;
    border-bottom: 2px solid grey;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}

.PortfolioSize{
    padding-top: 10px;
    height: 300px;
}
.icon_size{
  margin-top: -8px;
  margin-left: 10px;
  height: 30px;
  width: 30px;
}
.icon_sizeNP{
  margin-top: 18px;
  margin-left: 15px;
  margin-right: 15px;
  height: 30px;
  width: 30px;
}
.Contactbg{
  background-color: #000000;
  color: white;
}
.temppopover{
  display: none;
}
.temppopover:target{
  display: block;
  background-color: red;
}

.NavStyle{
  text-decoration:none;
}

.ThemeSize{
    height: 301px;
    width: 100%;
}

.HomeAppSizeSp{
  background: white;
  height: 97px;
}
.profileSize{
    height: 175px;
    width: 200px;
}
.profileSizeR{
    height: 185px;
    width: 160px;
}
.btn-primary-outline{
    background-color:transparent;
    color: black;
}
.HomeALR{
    animation: mymoveALR .5s;
    animation-timing-function: ease-in;
}
.HomeALR1{
    animation: mymoveALR 1.5s;
    animation-timing-function: ease-in;
}
.HomeARL{
    animation: mymoveARL .75s;
    animation-timing-function: ease-in;
}
.HomeARL1{
    animation: mymoveARL 1s;
    animation-timing-function: ease-in;
}
.HomeARL2{
    animation: mymoveARL 1.2s;
    animation-timing-function: ease-in;
}
.HomeARL3{
    animation: mymoveARL 1.8s;
    animation-timing-function: ease-in;
}
.HomeABT{
    animation: mymoveABT 1.5s;
    animation-timing-function: ease-in;
}
@keyframes mymoveALR {
    from {left: -380px;}
    to {left: 0px;}
}
@keyframes mymoveARL {
    from {right: -380px;}
    to {right: 0px;}
}
@keyframes mymoveABT {
    from {bottom: -380px;}
    to {bottom: 0px;}
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 135px;
  height: auto;
  min-height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: black;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
  opacity: .5;
  color: white;
}
.HoverTL:hover {
  fill: brown;
  cursor: pointer;
}
.ProjNavPad{
    padding-top: 180px;
}
.ProjNavPadData{
    padding-top: 100px;
}
.projectPicPad{
    margin-bottom: 10px;
}
.NavInvis{
    display: none;
}
.leftHomeNav{
    padding: 8px;
    padding-top: 50px;
    padding-left: 25px;
    background-color: gray;
    height: 100%;
    min-width: 290px; 
    width: 25%;
    position: fixed; 
    overflow: auto;
    z-index: 500
}
a:hover{text-decoration: none;}
  a:link{color: #363738}
  a:visited{
      color: #363738}

.RightColRes{
    padding: 8px;
    padding-left: 25%;
    display: block;
}
hr{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid black;
}
.Thr{
    margin-top: -10px;
    margin-bottom: 15px;
    border: 0;
    border-top: 1px solid #eee;
}
.icon_sizeR{
  padding-top: 5px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1.3em;
  height: 30px;
  width: 30px;
}
.icon_sizeRH{
  margin-top: 8px;
}
.ResumeHeader{
    margin-bottom: 8px;
    margin-left: 15px;
    margin-right: 15px;
    border-bottom: 1px solid black;
}
.ResumeHeader1{
    font-size: 1.3em;
    margin-left: 30px;
    margin-right: 60px;
    width: 95%;
    display: inline-block;
}
.Rl{
    margin-left: 25px;
    margin-top: -25px;
    border-bottom: 1px solid black;
}

.ResumeHeader1.Rl{
    display: inline-block;
}
.nopadd{
   padding-left: 0 ;
   padding-right: 0 ;
   margin: 0
}
.Resumepadding{
    margin-top: 10px;
    padding-left: 65px;
    list-style-type: none;
}
.listStyle{
    margin-top: -17px;
    display: inline-block;
    vertical-align: text-top;
}
.skill-progress{
    height: 55px;
    width: 8px;
    margin-right: 3px;
    background: #5cb85c;
    border-radius: 3px;
}
.skill-style{
    margin-top: -20px;
}
li div{
    display: inline-block;
    height: 30px;
}
.SkillBoxes{
    display: inline-block;
    background: #7eb0db;
    color: white;
    font-size: 0.9em;
    padding: 5px;
    border: 1px solid #357ebd;
    margin-right: 5px;
    border-radius: 6px;
}
.inlineP{
    display: inline-block;
}
.container-size{
    width: auto;
    height: 100%;
    display: block;
}
.addCheckMark:before{
    content: '✓';
}
.WorkPadding{
    list-style-type: none;
}
.summaryFont{
    margin-top: -8px;
    font-size: 0.9em;
}
.resumeWidth{
    min-width: 870px;
    max-width: 1100px;
    margin-top: 8px;
}
.EduBoxes{
    background: #5cb85c;
    color: white;
    font-size: 0.9em;
    padding: 5px;
    border: 1px solid greenyellow;
    margin-right: 5px;
    border-radius: 6px;
    margin-top: -18px;
}
.makebr{
    display: block;
    margin-top: -8px;
    margin-bottom: -5px;
}
.childE {
    width: 98.3%;
    display: block;
    height: auto;
    margin-bottom: -12px;
}
.parentE{
    overflow:visible; 
    height: 100%;
}
.ProjectBG{
    background-color: #BFBFBF;
    height:100%;
    min-height: 100vh;
}
.HomeButtonSize{
 font-size: 1.5em;
}

.nav > li.dropdown.open .dropdown-menu {
  background-color: #4d4d51;
  border-bottom-color: #4d4d51;
  min-width: 100%;
  left: 0;
  display: inline-block; 
}
.dropdown-menu li>a{
    color:white; 
    font-weight: bold;
    padding-top: 5px;
    height: 33px;
}
.FBold{
    font-weight: bold;
}
.Homebgc{
    background-image: url("https://drive.google.com/uc?export=download&id=0B9ldvGLcmpFzTTJZQ0d0bzlaYTUtWktXUU1UU2x6cnduTFN3");
    width: 100%;
    background-size: 100% 180%;
    min-height: 610px;
}
.homeBGPic{
    margin-top: 38px;
    min-height: 200px;
    width: 89%;
}
.NameTitle{
    font-family: 'Fascinate Inline', cursive;
    color: white;
    font-size: 6.0em;
    position: relative;
    padding-left: 15%;
    margin-top: 170px;
}
.TitleTitle{
    font-family: 'Permanent Marker', cursive;
    color: #3a7ce8;
    font-size: 2.0em;
    position: relative;
    padding-left: 15%;
    margin-top: -30px;
}
.ResumeCSS{
    overflow: auto;
}
.FirstProfPic{
    border: 5px solid white;
    width: 22%;
    height: 22%;
    min-width: 150px;
    min-height: 165px;
    margin-left:42%;
    margin-top: -18%;
}
/*Skills & project */
.GreenColour{
    color: green;
}
.bulletPoint{
    font-size: 25px;
}
.SkillPad{
    padding-left: 15%;
}

.HomePicStyle{
    padding-right: 1px;
    margin-top: 5px;
    padding-left: 2px;
    width: 210px;
    height: 68px;
    padding-bottom: 5px;
    border: 2px solid transparent;
}



@media only screen and (max-width: 1160px) { 
  .RightColRes{
    padding-left: 285px;
  }
}

@media only screen and (max-width: 780px) { 
  .ProjNavPad { 
    display: none; 
  } 
}


@media only screen and (max-width: 700px) { 
  .leftHomeNav{ 
    width: 100%;
    position: relative;
  } 
  .RightColRes{
    padding-left: 0%;
  }
}

@media only screen and (max-width: 550px) { 
    .HomeTop { 
    display: none; 
  } 
}